 <section class="card">
 <div class="card-header">
        <a href="/post/{{id}}">{{title}}</a>
       
        <p> Post by {{user.username}} on {{format_date created_at}}</p>
       
    </div>
 </div>
 <div class="card-body">
{{post_content}}
 </div>

  </section>