<section>
  <h3> Edit Post</h3>
<form class="edit-post-form">

    <div>
        
        <input type="text" name="post-title"  value="{{post.title}}" />
    </div>
     <div>
        
        Posted by you on {{format_date post.created_at}} |
        {{post.comments.length}}  {{format_words "comment" post.comments.length}}

    </div>
    <div>
        <label for ="post-text">Post Content</label>
        <textarea id="post-text"  name="post-text"> {{post.post_text}}</textarea>
    </div>
    
    <button type ="submit">Save Changes</button> 
    <button type ="button" class="delete-btn">Delete </button> 
    </form>

</section>
    
  

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>